doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')   
        //- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js ">
        //- <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        //- <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
        title Natours | #{title}
        

    body 
        // Header
        include _header

        // Content
        block content 
            h1 This is a placeholder

        // Footer
        include _footer

        
        script(src='/js/mapbox.js')
        script(src='/js/login.js')
        script(src='/js/updateSettings.js')


    
        




   


    
